body {
    background: URL('/images/bg.jpg');
    background-size: 85%;
    /*background-repeat: no-repeat;*/
}
#logWin {
    padding: 30% 30% 10% 25%;
}
.LogSignbtn {
    margin: 5% 0 0 0;
}
.speakbtn{
    margin: 3% 0 0 0;
}
.signWin {
    padding: 5% 25% 5% 25%;
}
.warm_sign {
    margin: 0;
    padding: 0;
    font-size: 5px;
    color: red;
}
.logo {
    position: absolute;
    right: 2%;
    top: 97%;
    font-style: italic;
}
.user-header {
   padding: 15% 15% 10% 15%;
}
.Msg {
    padding: 3% 10% 2% 5%;
}
.CheckLog {
    color: red;
    font-size: 25px;
    font-style: italic;
}
.user_in_blog {
    background-color:rgba(20,255,255,0.35);
    padding: 2% 2% 1% 2%;
}
.well {
    background: rgba(150,150,150, 0.6);
    padding: 20px;
}
.well p {
    font-size: 20px;
    font-family: verdana, sans-serif;
}
/*
写一些动画效果
*/
@-webkit-keyframes leftFade {
    from {
        width: 100%;
        opacity: 1;
    }
    to {
        width: 0px;
        opacity: 0；
    }
}
@-webkit-keyframes rightFade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0；
    }
}
.LeftFade {
    animation: 1.5s leftFade;
    width: 0px;
    opacity: 0;

}
.RightFade {
    animation: 1.5s rightFade;
    opacity: 0;
    height: 0
}
.userSet {
    cursor: pointer;
}
